@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Quicksand;
    font-weight: 400;
    src: local('Quicksand'), url(/fonts/Quicksand-Regular.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: Satisfy;
    font-weight: 400;
    src: local('Satisfy'), url(/fonts/Satisfy-Regular.ttf);
    font-display: swap;
  }
  
}

@layer components {
  .btn{
    @apply rounded-sm capitalize font-normal;
  }
}